.about {
    padding-top: 100px;
    padding-bottom: 50px;
    .divider {
        width: 45px;
        height: 0px;
        margin-top: 7px;
        border: 1px solid $main-color;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 670px;
        grid-template-rows: minmax(245px auto);
        column-gap: 70px;
    }
    &__descr {
        padding-top: 3px;
    }
    &__title {
        position: relative;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding-left: 10px;
        color: #000000;
        padding-top: 3px;
        @include before_circle;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 27px;
        line-height: 30px;
        color: #000000;
        margin-top: 15px;
    }
    &__text {
        font-weight: 500;
        font-size: 16px;
        font-style: normal;
        line-height: 21px;
        color: #000000;
        text-decoration: none;
        margin-top: 10px;
    }
    &__photo {
        width: 400px;
        max-height: 250px;
    }
}